package board

templ Board() {
	<mesh-board>
		<template shadowrootmode="open">
			<base href="/"/>
			<link rel="stylesheet" href="/static/css/components/board.css"/>
			<div class="board">
				<p>Stuff goes here lol</p>
			</div>
		</template>
	</mesh-board>
}
