@use "../../scss/card" as *;
@use "../../config" as *;

.column {
  width: 300px;
  display: flex;
  flex-direction: column;
  max-height: 70vh; // @todo what?
  overflow-y: auto;

  @include respond-to(mobile) {
    width: 280px;
    min-width: 280px;
    flex-shrink: 0;
  }

  .column-header {
    margin-bottom: 8px;
    h3 {
      margin: 0;
      color: #333;
      font-size: 1.2em;

      @include respond-to(mobile) {
        font-size: 1.1em;
      }
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include respond-to(mobile) {
      gap: 8px;
    }
  }
}
