package app

templ App() {
	<app>
		<template shadowrootmode="open">
			<base href="/"/>
			<link rel="stylesheet" href="/static/css/components/app.css"/>
			<div class="app">
				<board></board>
			</div>
		</template>
	</app>
}
