package app

import (
    "mesh/src/components/board"
)

templ App() {
	<mesh-app>
		<template shadowrootmode="open">
			<base href="/"/>
			<link rel="stylesheet" href="/static/css/components/app.css"/>
			<div class="app">
			    <p>Here is an example:</p>
				@board.Board()
			</div>
		</template>
	</mesh-app>
}
